{% extends 'partials/base.html.twig' %}

{% block content %}
    <div id="primary" class="content-area">
        <main id="main" class="site-main" role="main">

            {# Your custom template content goes here #}

        </main><!-- #main -->
    </div><!-- #primary -->
{% endblock %}
